// common colors
$white: #fff;
$failure: #ed4b9e;
$failure33: #ed4b9e33;
$primary: #1fc7d4;
$primary0f: #1fc7d40f;
$primary3D: #1fc7d43d;
$primaryBright: #53dee9;
$primaryDark: #0098a1;
$success: #31d0aa;
$success19: #31d0aa19;
$warning: #ffb237;
$warning2D: #ed4b9e2d;
$warning33: #ed4b9e33;
$binance: #f0b90b;
$overlay: #452a7a;
$gold: #ffc700;
$silver: #b2b2b2;
$bronze: #e7974d;

// light scheme colors
$secondary: #7645d9;
$secondary80: #7645d980;
$background: #faf9fa;
$backgroundDisabled: #e9eaeb;
$backgroundAlt: #fff;
$backgroundAlt2: #ffffffb3;
$cardBorder: #e7e3eb;
$contrast: #191326;
$dropdown: #f6f6f6;
$dropdownDeep: #eee;
$invertedContrast: #fff;
$input: #eeeaf4;
$inputSecondary: #d7caec;
$tertiary: #eff4f5;
$text: #280d5f;
$invertedText: #f4eeff;
$text99: #280d5f99;
$textDisabled: #bdc2c4;
$textSubtle: #7a6eaa;
$disabled: #e9eaeb;
$backgroundRe: #d7caece6;
$backgroundHero: linear-gradient(139.73deg,#e6fdff 0%,#f3efff 100%);
$gradientBubblegum: linear-gradient(139.73deg, #e5fdff, #f3efff);
$gradientBubblegum2: linear-gradient(180deg, #fff 22%, #d7caec 100%);
$gradientInverseBubblegum: linear-gradient(139.73deg, #f3efff, #e5fdff);
$gradientCardHeader: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
$gradientBlue: linear-gradient(180deg, #a7e8f1, #94e1f2);
$gradientBlue2: linear-gradient(#6fb6f1 0%, #eaf2f6 100%);
$gradientViolet: linear-gradient(180deg, #e2c9fb, #cdb8fa);
$gradientViolet2: linear-gradient(#7645d9 0%, #5121b1 100%);
$gradientVioletAlt: linear-gradient(180deg, #cbd7ef, #9a9fd0);
$gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
$gradientBold: linear-gradient(#53dee9, #7645d9);
$graphBackground: rgba(255, 255, 255, 0.5);

// dark scheme colors
$secondary-dark: #9a6aff;
$secondary80-dark: #9a6aff80;
$background-dark: #08060b;
$backgroundDisabled-dark: #3c3742;
$backgroundAlt-dark: #27262c;
$backgroundAlt2-dark: #08060b99;
$cardBorder-dark: #383241;
$contrast-dark: #fff;
$dropdown-dark: #1e1d20;
$dropdownDeep-dark: #100c18;
$invertedContrast-dark: #191326;
$input-dark: #372f47;
$inputSecondary-dark: #262130;
$tertiary-dark: #353547;
$text-dark: #f4eeff;
$invertedText-dark: #08060b;
$text99-dark: #f4eeff99;
$textDisabled-dark: #666171;
$textSubtle-dark: #b8add2;
$disabled-dark: #524b63;
$backgroundRe-dark: #201335;
$backgroundHero-dark: radial-gradient(103.12%50%at 50%50%,#21193a 0%,#191326 100%);
$gradientBubblegum-dark: linear-gradient(139.73deg, #313d5c, #3d2a54);
$gradientBubblegum2-dark: linear-gradient(180deg, #09070c 22%, #201335 100%);
$gradientInverseBubblegum-dark: linear-gradient(139.73deg, #3d2a54, #313d5c);
$gradientCardHeader-dark: linear-gradient(166.77deg, #3b4155, #3a3045);
$gradientBlue-dark: linear-gradient(180deg, #00707f, #19778c);
$gradientBlue2-dark: linear-gradient(180deg, #0b4576 0%, #091115 100%);
$gradientViolet-dark: linear-gradient(180deg, #6c4999, #6d4db2);
$gradientVioletAlt-dark: linear-gradient(180deg, #434575, #66578d);
$gradientGold-dark: linear-gradient(180deg, #ffd800, #fdab32);
$gradientBold-dark: linear-gradient(#53dee9, #9a6aff);
$graphBackground-dark: rgba(39, 38, 44, 0.5);
